venv/
training_testing/Data
Logs
venv_lx/
Data/
data/
!spinalcordtoolbox/data/
models/
results/
__pycache__/
.ipynb_checkpoints/

# ignores taken from spinalcordtoolbox repo
spinalcordtoolbox/tmp/**/*

.DS_Store
spinalcordtoolbox_v*

*~
*.swp
*.orig
._*
.#*
.nfs*
*.pyc
*.pyo
*.log
*.egg-info/
*.egg
.eggs/
.idea/*
spinalcordtoolbox/.cache

