venv/
training_testing/Data
Logs
venv_lx/
Data/
data/
__pycache__/

# ignores taken from spinalcordtoolbox repo
spinalcordtoolbox/tmp/**/*
spinalcordtoolbox/bin/

.DS_Store
spinalcordtoolbox_v*

*~
*.swp
*.orig
._*
.#*
.nfs*
*.pyc
*.pyo
*.log
*.egg-info/
*.egg
.eggs/
.idea/*
spinalcordtoolbox/.cache

