venv/\
training_testing/Data\
Logs
venv_lx/\
Data/\
data/\
__pycache__/
*/__pycache__/
*/__pycache__/*

# ignores taken from spinalcordtoolbox repo
spinalcordtoolbox/tmp/**/*

.DS_Store
spinalcordtoolbox_v*

*~
*.swp
*.orig
._*
.#*
.nfs*
*.pyc
*.pyo
*.log
*.egg-info/
*.egg
.eggs/
.idea/*
/.cache

